.dropdownContent {
    display: none;
    position: absolute;
    left: 50%; /* Position the left edge of the dropdown at the center of the li */
    transform: translateX(-50%); /* Move it back to align the center of the dropdown with the center of the li */
    background-color: #f9f9f9;
    min-width: 160px; /* Adjusted to ensure sufficient width */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    color: #333;
    border-radius: 4px; /* Rounded corners for the dropdown */
    flex-direction: column; /* Ensure vertical layout of items */
    margin-top: 10px; /* Spacing from the top of the li */
    justify-content: left;
}

li:hover .dropdownContent {
    display: flex; /* Flex display to manage direction */
}

.dropdownContent p {
    padding: 8px 20px;
    margin: 0;
    border-bottom: 1px solid #eee;
    display: block; /* Ensure it takes up the full width for better clickability */
    cursor: pointer; /* Make it appear clickable */
    white-space: nowrap; /* Prevents breaking into a new line */
}

.dropdownContent p:last-child {
    border-bottom: none; /* Remove border from the last item for a cleaner look */
}
