/* ProductPage.css */
.product-main {
    display: flex;
    
   
    margin-left: calc(12% + 40px);  /* 20% width of left section plus additional margin */
    flex: 1;
      /* Add padding to maintain spacing */
      padding: 20px;
    
}

.left-section {
    position: fixed;
   
    overflow-x: hidden;
    width: 12%;
    margin-right: 20px;
    padding: 20px; /* Added padding for styling, adjust as needed */
    background: white; /* Makes it visually distinct from the background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: calc(100vh - 160px);
    overflow: visible;
    z-index: 2;
}

.right-section {
    margin-left: calc(12% + 40px);  /* 20% width of left section plus additional margin */
    flex: 1;
    padding-left: 20px;  /* Add padding to maintain spacing */
}

.product-content {
    flex: 3;  /* Increased width to occupy more space */
    background: #FFF;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-right: 20px;  /* Maintain spacing between the sections */
    padding: 20px;
}

.order-form {
    flex: 1;  /* Smaller flex factor to reduce width */
    background: #FFF;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group input, .form-group select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    flex: 1;  /* Ensure inputs take available space */
}

.request-quote, .request-sample {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;  /* Make buttons full width of the form */
}

.additional-info p {
    margin-top: 10px;
    background-color: #f4f4f4;
    padding: 10px;
}

h1, p {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}
